.content {
    min-height: 900px;
    min-width: 1200px;
}

.banner-image {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(248, 248, 248);
    background-image: url("Image/intro-bg_1.jpg");
    background-size: cover;
}

.inner-banner-image {
    padding-top: 12%;
    width: 80%;
    margin: auto;
}

.banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow: hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    color: white;
}

.button {
    color: fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    padding: 10px 16px;
    font-size: 18px;
}

#foot {
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

table-responsive {
    color: white;
}